<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>Pepys Coverage</title>

		<link
            href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
            rel="stylesheet"
            type='text/css'
        >

		<link
            href="{{ url_for('static', filename='css/mdb.min.css') }}"
            rel="stylesheet"
            type='text/css'
        >

		<link
            href="{{ url_for('static', filename='css/daterangepicker.css') }}"
            rel="stylesheet"
            type='text/css'
        >

		<!-- Visavail.js 1.5.0 style -->
		<link
			href="{{ url_for('static', filename='css/visavail.min.css') }}"
			rel='stylesheet'
			type='text/css'
		>
		<link
			href="{{ url_for('static', filename='css/style.css') }}"
			rel='stylesheet'
			type='text/css'
		>

		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='image/favicon.ico') }}"
		>

	</head>

	<body>
		<nav class="navbar navbar-light bg-dark">
			<span class="navbar-brand text-light">
				<h2>Pepys Coverage</h2>
			</span>
		</nav>
		<nav class="navbar toolbar">
			<div class="form-group" id="date-range-form-group">
				<input type="text" class="form-control" name="date-range" value="" />
			</div>
		</nav>
		<div class="m-4"></div>
		<div class="container-fluid">
			<div id="chart_row" class="row justify-content-center p-2"></div>
		</div>

		<script
            src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"
            type="text/javascript"
        >
        </script>

		<script
            src="{{ url_for('static', filename='js/vendor/popper.min.js') }}"
            type="text/javascript"
        >
        </script>

		<script
            src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"
            type="text/javascript"
        >
        </script>

		<script
            src="{{ url_for('static', filename='js/vendor/mdb.min.js') }}"
            type="text/javascript"
        >
        </script>

		<script
            src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"
            type="text/javascript"
        >
        </script>

		<script
            src="{{ url_for('static', filename='js/vendor/daterangepicker.min.js') }}"
            type="text/javascript"
        >
        </script>

		<script src="{{ url_for('static', filename='js/vendor/d3.min.js') }}">
		</script>

		<script src="{{ url_for('static', filename='js/vendor/visavail.min.js') }}">
		</script>

		<!-- This has to stay here for templating -->
		<script type="text/javascript">
			function getParticipantIconUrl(participant) {
				return "{{ url_for('static', filename='image/PLATFORM_TYPE.svg') }}".replace(
					"PLATFORM_TYPE", participant["platform-type"]
				);
			}
		</script>

		<script
			src="{{ url_for('static', filename='js/src/pepys.js') }}"
			type="text/javascript"
		>
		</script>
		
	</body>

</html>