pip
wheel
bump2version==1.0.*
watchdog==0.9.0
flake8==3.*
tox==3.14.0
coverage==5.*
pytest>=5.3.5
Sphinx==4.*
twine==3.*
nose2
black
pre-commit
sphinx_rtd_theme
git+https://github.com/tk0miya/testing.postgresql.git#egg=testing.postgresql
isort
pytest-benchmark
pyte
freezegun==1.*
pexpect