SQLAlchemy==1.4.27
geoalchemy2>=0.9.4
psycopg2==2.8.*
pint==0.14
tabulate>=0.8.7
pyfiglet>=0.8.post1
python-dateutil==2.8.*
prompt_toolkit>=3.0.16
iterfzf>=0.5.0.20.0
shapely>=1.7.0
tqdm>=4.44.1
alembic>=1.6.5
pg8000>=1.14.1
setuptools>=40.8.0
pygments>=2.7.4
geopy>=1.22
halo>=0.0.31
loguru
sqlalchemy-utils==0.37.*
Flask
Flask-CacheBuster
flask-cors
waitress
lxml
packaging