
#countdown-container {
  margin-left: 10px;
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
}

#countdown-number {
  display: inline-block;
  line-height: 40px;
  color: #ff9f1e;
  font-weight: bold;
  font-size: 12px;
}

#countdown-svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

#countdown-progress {
  fill: transparent;
  stroke: #ff9f1e;
  stroke-dasharray: 100.53;
  stroke-dashoffset: 0;
  stroke-width: 4;
  transition: stroke-dashoffset 1s linear;
}

